/* styles/MobileNavbar.module.css */
.mobileNavbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure this z-index is higher than the A-Frame canvas */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  height: 30px; /* Adjust based on your logo's dimensions */
}

.menuIcon {
  font-size: 30px;
  color: black;
  cursor: pointer;
}

.navLinks {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.navLinks a {
  text-decoration: none;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}