/* styles/Navbar.module.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure this z-index is higher than the A-Frame canvas */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  height: 50px; /* Adjust based on your logo's dimensions */
}

.navLinks {
  display: flex;
  gap: 1.5rem;
  flex: 1; /* Take up remaining space */
  justify-content: center; /* Center the nav links horizontally */
}

.navLinks a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-family: 'Oswald', sans-serif;
  align-items: center;
}

.navLinks a:hover {
  text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navLinks {
    flex-direction: column;
    gap: 0.5rem;
    align-items: center; 
  }
}
